body {
    background-image: url(Images/bg.png);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    right: 320px;
    margin-top: -10px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 0px 0px 5px 5px;
    z-index: 1;
    position: fixed;
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(218, 58, 30);
    font-weight: normal;
}

#aktiv {
    color: rgb(218, 58, 30);
    font-weight: normal;
}

#titelbild {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -500px;
}

#facebook {
    width: 25px;
    position: absolute;
    margin-left: 885px;
    margin-top: 460px;
    opacity: 0.5;
}

#facebook:hover {
    opacity: 1;
}

.firsttitle {
    margin-top: 800px;
}

h1 {
    color: rgb(218, 58, 30);
    margin-left: 550px;
}

img, video, .Kontaktformular {
    margin-left: 550px;
}

input {
    background-color: rgb(184, 181, 181);
    border: rgb(184, 181, 181);
    margin: 2px;
    padding: 2px 30px 2px 5px;
   
    color: white;
  
}

textarea {
    background-color: rgb(184, 181, 181);
    border: rgb(184, 181, 181);
    margin: 2px;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 100px;
    color: white;
  
}

button {
    background-color: rgb(184, 181, 181);
    border: rgb(184, 181, 181);
    margin: 2px;
    padding: 3px 7px 3px 7px;

    color: white;

}

button:hover {
    font-weight: bold;
}

div {
    color: rgb(184, 181, 181);
    font-size: 11px;
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: 10px;
    padding-right: 5px;
}

#Datenschutz {
    color: rgb(184, 181, 181);
}

p {
    color: black;
    margin-left: 550px;
}
