body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    position: relative;
    text-align: center;
}

#base {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-base {
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 483px;
    height: 492px;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    background-color: #000;
    width: 477px;
    height: 159px;
    margin: 2px;
  }

.flex-item {
    width: 155px;
    height: 155px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    border-radius: 10px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


i {
    color: white;
    font-size: 80px;
    padding-left: 30px;
    margin-left: 0px;
    margin-top: 15px;
    opacity: 50%;
}

i:hover {
    opacity: 100%;
}

#play {
    padding-left: 340px;
}

